.card
    width: 80%
    background-color: $background-card
    border-radius: 1rem
    display: flex
    flex-direction: column

.card__img
    height: 10rem
    position: relative
    display: flex
    justify-content: center

    .img
        position: absolute
        bottom: 0

.card__text
    display: flex
    flex-direction: column
    text-align: center

    .card__title
        padding: 1.2rem

    .card__list
        .card__item
            padding: .8rem